@layout('layouts/main')
@set('title', title)

@section('body')
@if (session.get('code'))

<div class="text-center p-5">
  <a href="{{route('absences.index.show')}}" class="btn btn-primary">
    <h1>
      届け出を確認
    </h1>
  </a>
</div>
@else
<p>{{message}}</p>
@end
@end
